<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>비가와 오랜만에</title>
</head>
<body>
    <h1>문제</h1>
    <p>이미지</p>
    <h4>{{sentence}}</h4>

    <fieldset>
        <legend>위 문장의 빈칸에 들어갈 단어를 고르세요.</legend>
        <div>
          <input type="radio" id={{words[0]}} name="answer" value="{{words[0]}}"
                 checked>
          <label for="{{words[0]}}">{{words[0]}}</label>
        </div>

        <div>
          <input type="radio" id="{{words[1]}}" name="answer" value="{{words[1]}}">
          <label for="{{words[1]}}">{{words[1]}}</label>
        </div>

        <div>
          <input type="radio" id={{words[2]}} name="answer" value={{words[2]}}>
          <label for={{words[2]}}>{{words[2]}}</label>
        </div>

        <div>
          <input type="radio" id={{words[3]}} name="answer" value={{words[3]}}>
          <label for={{words[3]}}>{{words[3]}}</label>
        </div>
    </fieldset>
    <button class="solve" type="button">정답 제출</button>
</body>
</html>